@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

#shopping-update-btn {
  background-color: red;
  color: blue;
}

#shopping-update-btn:hover {
  background-color: skyblue;
  color: white;
}

#shopping-delete-btn {
  background-color: red;
  width: 70px;
  justify-content: center;
}

#shopping-delete-btn:hover {
  background-color: white;
  color: red;
  border: 1px solid red;
}

#item-container {
  height: 20vh;
  border: 1px solid lightgray;
}

#update-btn:hover {
  background-color: white;
  color: #1f9bcf;
  border: 1px solid #1f9bcf;
}

#minus-btn:hover {
  color: black;
  box-shadow: -3px 3px 15px 1px lightgray;
}

#add-btn:hover {
  color: black;
  box-shadow: 3px 3px 15px 1px lightgray;
}

.bodyback {
  @apply bg-gray-200;
}
